<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AltCover" version="8.8.74" targetFramework="net47" />
  <package id="NUnit" version="4.1.0" targetFramework="net47" />
  <package id="NUnit.ConsoleRunner" version="3.17" targetFramework="net47" />
  <package id="ReportGenerator" version="5.3.5" targetFramework="net47" />
  <package id="Castle.Core" version="5.1.1" targetFramework="net47" />
  <package id="Moq" version="4.20.70" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net47" />
  <package id="altcode.gendarme" version="2023.12.27.19054" targetFramework="net47" />
</packages>
